<a href="/player_characters">Player Characters</a>

  <h1><%= @player_character.name %></h1>
  <p><b>HP: </b><%= @player_character.hp %> <b>AC: </b><%= @player_character.ac %> </p>
  <p><b>Notes: </b><%= @player_character.notes %></p>